
  body{
    background-image:url("https://raw.githubusercontent.com/Jens0306/wp2017/gh-pages/Bricks-Background.jpg");
  }
  h1{
    font-size:70px;
    color:white;                  
  }
  #layer1{
    height:100%;

      background-image: url('https://raw.githubusercontent.com/Jens0306/wp2017/gh-pages/me.jpg');
        background-position:-1920px;
          background-repeat: no-repeat;
          }

          #layer2{
            height:100%;
              background-image:url("https://raw.githubusercontent.com/Jens0306/wp2017/gh-pages/Bricks-Background.jpg");
                background-position:-1920px;
                  background-repeat: no-repeat;

                  }
                  #layer3{
                    height:100%;

                      background-image: url('https://raw.githubusercontent.com/Jens0306/wp2017/gh-pages/menu.jpeg');
                        background-position: -1600px;
                          background-repeat: no-repeat;
                          }
                          p {
                            position: 500px;
                              margin-right: 50%
                                color: white;
                                  opacity: 0;
                                  }
                                  a{
                                    position:1500px;
                                      opacity: 0;
                                      }
  /*
#menu {
  background-color:black;
}
#about_me {
  background-color:black;
  color:gray;
}
#contact {
  background-color:gray; 
  color:white;
}
#skill {
  background-image: url('https://raw.githubusercontent.com/Jens0306/wp2017/gh-pages/me.jpg');
  width:"100%";
  height:"100%";
}
  p{
    color:white;
  }
  a{
    color:white;
  }
  */
