
  body{
    background-image:url("https://raw.githubusercontent.com/Jens0306/wp2017/gh-pages/Bricks-Background.jpg");
  }
  h1{
    font-size:70px;
    color:white;                  
  }
  div {
    background-color:black;
    border-width:3px 3px 3px 3px;
    border-style:solid;
    border-color:white;
  }
  p{
    color:white;
  }
  a{
    color:white;
  }
